body {
    margin: 0;
    background-color: rgb(127, 238, 127);
}

.container {
    position: absolute;
    left:50%;
    top:50%;
    width: 232px;
    font-size: 0;
    transform: translate(-50%,-50%);
}

.ball {
    position:relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 8px solid;
    border-radius: 50%;
}

.face {
    position: absolute;
    top: 30px;
    right: 0;
    width: 70px;
    height: 30px;
}

.face::after {
    position: absolute;
    top:28px;
    right: 2px;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 60%;
    background-color: red;
}

.face::before {
    position: absolute;
    top:28px;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 60%;
    background-color: red;
}

.face-l {
    animation: face 4s ease infinite;
}

.face-r {
    left: 0;
}

.eye {
    width: 15px;
    height: 14px;
    border-bottom: 5px solid;
    border-radius: 50%;
}

.eye-l {
    float: left;
    margin-left:5px;
}

.eye-r {
    float: right;
    margin-right:5px;
}

.eye-l-p {
    border-top:5px solid;
    border-bottom:0px solid;
}

.eye-r-p {
    border-top:5px solid;
    border-bottom:0px solid;
}

.mouth {
    position: absolute;
    top:15px;
    right: 26px;
    width: 15px;
    height: 14px;
    border-bottom: 5px solid;
    border-radius: 50%;
}

#l-ball {
    z-index: 50;
    background-color: #fff;
    animation: close 4s ease infinite;
}

#r-ball {
    z-index: 40;
    background-color: #fff;
    animation: kiss 4s ease infinite;
}

.mouth-r {
    animation:mouth-m 4s ease infinite;
}

.kiss-m {
    position: absolute;
    left:20px;
    top:22px;
    /* opacity: 0; */
    animation: kiss-m 4s ease infinite;
}

.kiss {
    width:13px;
    height:10px;
    background-color:white;
    border-radius:50%;
    border-left:5px solid;
}
/* 添加动画效果 */

@keyframes face {
    0%{transform:translate(0) rotate(0);}
    20%{transform:translate(10px) rotate(-21deg);}
    28%{transform:translate(0) rotate(0);}
    38%{transform:translate(10px) rotate(-21deg);}
    100%{transform:translate(0) rotate(0);}

}

@keyframes close {
    0% { transform: translate(0) }
    20% { transform: translate(20px)}
    45%{transform:translate(20px)}
    55%{transform:translate(0px)}
    100% {transform: translate(0)}
}

@keyframes kiss {
    40%{transform:translate(0px);}
    50%{transform:translate(30px) rotate(20deg);}
    60%{transform:translate(-33px);}
  67%{transform:translate(-33px);}
  77%{transform:translate(0px);}
}

@keyframes mouth-m {
    0% {opacity:1;}
    54.9%{opacity:1;}
    55%{opacity:0;}
    66%{opacity:0;}
    66.1%{opacity:1;}
}

@keyframes kiss-m {
    0%{opacity:0;}
    55%{opacity:0;}
    55.1%{opacity:1;}
    66%{opacity:1;}
    66.1%{opacity:0;}
    100% {opacity:0;}
}